.subscribe-sect{
    display: flex;
    justify-content: space-between;
    margin: 5rem 10rem;
    
}
.subs-info{
    width: 50%;
}
.subs-info h3{
    color: #000;
    font-weight: 700;
    margin-top: 2rem;
}
.subs-info p{
    font-size: 12px;
    font-weight: 600;
    margin-top: 1rem;
}
#arrow-dwn{
    margin-top: -6rem;
    margin-left: 25rem;
}

#subs-input{
    width: 70%;
    background: rgba(245, 245, 245, 1);
    border: none;
    font-size: 12px;

}
#subs-btn{
    background: rgba(46, 187, 119, 1);
    border: none;
    font-size: 12px;
    font-weight: 600;
    margin-left: 0.5rem;
    border-radius: 5px;
    width: 20%;

}
#subs-btn:hover{
    background: rgb(3, 182, 95);
}


/* Mobile view */

@media (max-width: 768px) {
    .subscribe-sect {
        flex-direction: column; 
        margin: 2rem; 
    }

    .subs-info {
        width: 100%; 
        text-align: center; 
    }

    #arrow-dwn {
        margin: 1rem auto; 
    }

    #subs-input {
        width: 100%; 
    }

    #subs-btn {
        width: 100%; 
        margin-top: 1rem; 
    }
}
