.custom-body{
    margin-top: 10rem ;
    background: rgba(245, 245, 245, 1);

}
.custom-head{
    text-align: center;
    padding-top: 3rem;
}
.custom-details{
    display: flex;
    margin: 2rem 10rem;
}
.custom-details img{
    width: 600px;
    height: 400px;
    margin-left: 40px;
}
.custom-details .list{
    margin-top: 70px;
    display:table-row
}
span{
    color: rgba(46, 187, 119, 1);
    border-radius: 100%;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
    padding: 10px 13px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    
}
#top{
    background: rgba(46, 187, 119, 1);
    color: #fff;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
    padding: 10px 13px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  
}
.custom-details .list p{
    font-size: 12px;
    font-weight: 700;
    color: #000;
    padding: 20px 1px;
    margin-top: -2.7rem;
    margin-left: 5rem;
}

