footer{
    background: rgba(248, 248, 248, 1);
    height: 70vh;

}
.footer-sect{
    display: flex;
    margin: 5rem 10rem;
    padding-top: 5rem;
    justify-content: space-between;
}
.link{
    display: block;
}
.questions .social-links a{
    padding: 10px;
    text-decoration: none;
    color: gray;
}
.questions .social-links a:hover{
    color: rgba(46, 187, 119, 1);
}
.questions p{
    font-size: 12px;
}
.foott{
    display: flex;
    justify-content: center;
}
.footer-p{
    text-align: center;
    margin-top: 1rem;
    font-size: 12px;
}
.info-sect p{
    font-size: 12px;
    margin-top: 0.5rem;
}
.link a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    display: block;
    margin: 5px;
}



/* Mobile view */
@media (max-width: 768px) {
    footer{
        height: 100vh;
    }
    .footer-sect {
        flex-direction: column; 
        margin: 2rem; 
        
    }
  
    .info-sect,
    .links-sect,
    .useful-links,
    .questions {
        text-align: center; 
        margin-bottom: 2rem; 
    }

    .link {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .link a {
        margin: 5px 10px; 
    }

    .questions .social-links {
        display: flex; 
        justify-content: center; 
    }

    .questions p {
        margin-top: 1rem; 
    }

    .foott {
        margin-top: 2rem; 
    }
}
