.nav-top{
    display: flex;
    background: rgba(248, 248, 248, 1);
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    
}
.nav-top .social-links a{
    padding: 10px;
    text-decoration: none;
    color: gray;
}
.nav-top .social-links h6{
    margin: none;
    color: #000;
    
}
.nav-btn #login-btn{
    border: none;
    font-size: 12px;
    border-radius: 5px;
    margin: 10px;
    background: rgba(248, 248, 248, 1);
    height: 25px;
    width: 80px;
}
 #login-btn:hover{
    background: rgba(46, 187, 119, 1);
    color: #fff;
}
.nav-btn #signup-btn{
    border: none;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    height: 25px;
    width: 80px;
    text-align: center;
   
}
#signup-btn:hover{
    background: #201f1f;
}

/* Mobile View */

@media (max-width: 768px) {
    .nav-top {
        flex-direction: column;
        padding: 1rem; 
        margin-top: -3.3rem ;
        position: absolute;
    }
    .social-links{
        display: none;
    }

}

