.nav-top{
    display: flex;
    background-color: rgb(253, 250, 250);
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    margin: none;
    
}
.nav-top .social-links a{
    padding: 10px;
    text-decoration: none;
    color: gray;
}
.nav-top .social-links h5{
    margin: none;
}
.nav-btn #login-btn{
    border: none;
    font-size: 14px;
}
.nav-btn #signup-btn{
    border: none;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 25px;
    width: 80px;
}
