.navlinks-items{
  margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    z-index: 999;
    /* margin: 0; */

}
.navlinks-items nav a{
    margin: 0 15px;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
}
.navlinks-items nav a :hover{
  color: rgba(46, 187, 119, 1);
}
 #act {
  color:  rgba(46, 187, 119, 1);
  
}

.navlinks-items .nav-icn .FaStar{
    color: #fff;
    border: solid 1px #000;
}
.nav-icn{
  display: flex;
  position: relative;
}
.tag{
  position: absolute;
  margin-top: -1.5rem;
  margin-left: 0.5rem;
  font-size: 8px;
  background: rgba(46, 187, 119, 1);
  color: #fff;
  padding: 0 3px;
  border-radius: 50px;

}
/* .navlinks-items .nav-icn a{
    border: none;
    text-decoration: none;
    column-gap: 2rem;
    
} */
#fastar{
  padding-right: 20px;
  color: gray;
}
#fashop{
  color: gray;
}

.search-container {
    position: relative;
    color: gray;
    
  }
  
  .search-container input[type="text"] {
    padding-left: 30px; 
    color: gray;
    font-size: 12px;
  }
  
  .search-container .search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }
  .mobile-menu{
    display: none;
  }


/* mobile view */

@media (max-width:768px){
  .mobile-menu{
    display: block;
    position: relative;
  }
  .menu-items{
    position: absolute;
    background: #fff;
    padding: 10px;
    
  }
  .menu-items a{
    margin: 15px 15px;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    display: block;
    align-content: space-between;
    
  }
  .menu-items a:hover{
    color: rgba(46, 187, 119, 1);
    
  }
 
  nav a{
    display: none;
    
  }
  .navlinks-items {
    margin-top: -7rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 1rem; 
}

.navlinks-items nav {
    margin-bottom: 1rem; 
}
.navlinks-items nav a {
    margin: 0;
}
#search-cont{
  display: none;
}
#act {
    color: #000;
}

.navlinks-items .nav-icn a {
    margin-top: 1rem; 
}

/* .search-container {
    margin-bottom: 1rem; 
    margin-top: 2rem;
    
} */

/* .search-container input[type="text"] {
    width: 100%;
    padding-left: 30px;
    font-size: 12px;
    
} */

/* .search-container .search-icon {
    left: 5px; 
} */

  

}