.navlinks-items{
  margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding: 0 10rem;
}
.navlinks-items nav a{
    margin: 0 15px;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
}
 #act {
  color:  rgba(46, 187, 119, 1);
  
}

.navlinks-items .nav-icn .FaStar{
    color: #fff;
    border: solid 1px #000;
}
.navlinks-items .nav-icn a{
    /* color: gray; */
    border: none;
    text-decoration: none;
    column-gap: 2rem;
    
    
}
#fastar{
  padding-right: 20px;
  color: gray;
}
#fashop{
  color: gray;
}

.search-container {
    position: relative;
    color: gray;
    /* height: 50px; */
    /* width: 50px; */
    /* margin-left: -30px; */
  }
  
  .search-container input[type="text"] {
    padding-left: 30px; 
    color: gray;
    font-size: 12px;
  }
  
  .search-container .search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }
  