.service{
    display: flex;
    margin-top: 21rem;
    padding: 0 10rem;
}
.services-card{
    display: flex;
    padding: 20px;
    
}
.services-card img{
    margin-left: -2rem ;
}
.services-card .card-title p{
    font-size: 12px;
    margin-top: 5px;
}
.services-card .card-title h4{
    margin: 0;
}
.services-card .card-title h4,
.services-card .card-title p{
    margin-left: 1rem;
}