.store-card{
    margin-top: 2rem;
    width: 150px;
    position: relative;
}
.hot{
    position: absolute;
    background: rgba(247, 75, 129, 1);
    color: #fff;
    font-size: 8px;
    border-radius: 10px 0 10px 0;
    text-align: center;
    z-index: 2;
    padding: 5px 10px;
    margin-top: -17rem;
    margin-left: -1rem;
}
.hot1{
    position: absolute;
    background: rgba(68, 112, 77, 1);
    color: #fff;
    font-size: 8px;
    border-radius: 10px 0 10px 0;
    text-align: center;
    z-index: 2;
    padding: 5px 10px;
    margin-top: -17rem;
    margin-left: -1rem;
}
.hot2{
    position: absolute;
    background: rgba(17, 177, 150, 1);
    color: #fff;
    font-size: 8px;
    border-radius: 10px 0 10px 0;
    text-align: center;
    z-index: 2;
    padding: 5px 10px;
    margin-top: -17rem;
    margin-left: -1rem;
}


.sale{
    position: absolute;
    background: rgba(46, 187, 119, 1);
    color: #fff;
    font-size: 10px;
    border-radius: 3px;
    padding: 2px;
    margin-top: -15.5rem;
    margin-left: 0.3rem;
}
.new{
    position: absolute;
    background: rgba(180, 121, 217, 1);
    color: #fff;
    font-size: 10px;
    border-radius: 3px;
    padding: 2px;
    margin-top: -14.2rem;
    margin-left: 0.3rem;

}
.card-title .p-desc{
    font-size: 10px;
    color: gray;
}
.card-title h6{
    font-weight: 600;
    margin-top: -10px;
}
.card-title #FaStar{
    color: yellow;
    background: yellow
}
.card-title .p-rate{
    margin-top: -10px;
    color: gray;
    font-size: 10px;
}
.card-title .prod{
    font-size: 10px;
    margin-top: -10px;
}
.stores-btn{
    background: rgba(222, 249, 236, 1);
    color: rgba(59, 183, 126, 1);
    font-size: 10px;
    width: 70px;
    height: 30px;
    border: none;
    gap: 10px;
}
.p-div{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.price{
    font-size: 12px;
    font-weight: 600;
    color: rgba(59, 183, 126, 1);
    margin-top: 10px;
    
}
.price2{
    font-size: 12px;
    margin-top: 10px;
    text-decoration: line-through;
}
.store-card img{
    border-radius: 10px;
}
#store-car{
    display: none;
}
.mob-cont{
    display: none;
}
.view{
    display: none;
}
.carousel{
    display: none;
}


/* Mobile view */

@media only screen and (max-width: 768px){
    #store-cont{
        display: none;
    }
    /* #carousel{
        display:block;
    } */
    .mob-cont{
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        margin-bottom: 2rem;
        
    }
  
    .prc{
        display: flex;
        justify-content: space-between;
    }
    .mobview-cont h5{
        margin-top: -0.5rem;
        color: #000;
        font-weight: 600;
    }
    .mobview-cont p{
        color: grey;
        font-size: 12px;
    }
    .view{
        display: flex;
    }
    .view a{
        text-decoration: none;
        color: grey;
    }
    
   
   
    
}