.Navlink-items {
  margin: 0.5%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navlink-items nav a {
  margin: 0 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
  color: #000;
  padding: 5px;
}

.Navlink-items img {
  margin-right: 20px;
}

.NavIcons {
  display: flex;
  position: relative;
}

.NavIcons a {
  margin: 0 10px;
  justify-content: space-between;
  text-decoration: none;
  color: rgba (245, 245, 245, 1);
  font-size: 15px;
}

.tag {
  position: absolute;
  margin-top: -2rem;
  margin-left: 1.5rem;
  background: rgba(46, 187, 119, 1);
  color: #fff;
  padding: 0 3px;
  font-size: 10px;
  border-radius: 50px;
}

.mobile-menu {
  display: none;
}
.Navbutton button {
  padding: 8px;
  border-radius: 12px;
  margin-right: 150px;
  font-size: medium;
  background-color: white;
  border: solid 0.1px grey;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* On hover, change the background color */
.Navbutton button:hover {
  background-color: lightgray;
  transition: ease-out;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    width: 100%;
    padding-top: 1rem;
    position: relative;
  }

  nav a {
    display: none;
  }
  .NavIcons {
    width: 70%;
    padding-top: 1rem;
  }
  .menu-items {
    position: absolute;
    background-color: #fff;
    padding: 10px;
  }
  .menu-items a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    display: block;
  }

  .Navlink-items {
    margin: 0.2%;
    font-size: 16px;
  }

  .Navlink-items nav a {
    margin: 0 5px;
    font-size: 20px;
    margin-left: 100px;
  }

  .Navlink-items img {
    margin-right: 10px;
    padding-top: 1rem;
  }

  .Navbutton button {
    display: none;
  }
}
