

.containerr {
    display: flex;
    height: 100vh;
    /* width: 10rem; */
    /* position: fixed; */
    margin: 1rem 5rem;
    
  }
  
  .scrollable {
    /* flex: 1; */
    overflow-y: scroll;
    height: 100%;
    /* border: 1px solid #ccc; */
   
  }
  
  .left {
    background-color: #f9f4f4;
    border-radius: 5px;
    width: 20%;
   
  }
  
  .right {
    /* background-color: #e0e0e0; */
    width: 80%;
    /* padding: 5px; */
    display: flex;
    /* margin-left: 17rem; */
    /* margin-top: 10rem; */
   
  }
  .right2{
    width: 70%;
    padding: 5px;
    display: flex;
    margin-left: 18.5rem;
    margin-top: -10rem;
  }
  .right3{
    width: 70%;
    padding: 5px;
    display: flex;
    margin-left: 18.5rem;
    margin-top: 1rem;
  }
  .right4{
    width: 70%;
    padding: 5px;
    display: flex;
    margin-left: 18.5rem;
    margin-top: 1rem;
  }
  .right5{
    width: 70%;
    padding: 5px;
    display: flex;
    margin-left: 18.5rem;
    margin-top: 1rem;
  }
  .hoddy{
    padding: 0 8px;
  }


  .tab{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    align-items: center;
    background-color: #fff;
    border: 10px solid #ccc;
    border-radius: 5px;
  }

  .tab h3{
    padding: 20px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
   color: rgb(10, 0, 8);
    /* font-style: normal; */
  }
  .ratee{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
   
  }
  .ratee h6, .ratee p{
    margin:  auto 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;

  }
  #f-rate{
    color: rgb(187, 46, 159) ;
  }

 
 /* #prod-imggg{
  
  padding: 0 10px;
 } */
 .hoodie-dv{
  position: relative;
  border:0.5px solid rgb(248, 6, 228);
  border-radius: 5px;
  padding: 2px;
 }
 #fv{
  position: absolute;
  top: 1rem;
  left: 10rem;
  font-size: 18px;
  margin-top: 1rem;
  color: rgb(187, 46, 159);
  /* color: #fff; */
  /* background-color: rgb(244, 210, 237); */
  /* padding:2px 5px 3px 5px; */
  /* border-radius: 50%; */

 }
 /* #fv:hover{
  color: rgb(187, 46, 159);
 } */
 
 .disp{
  font-size: 12px;
  color: grey;
  margin-top: 2px;
  /* font-family: "Source Code Pro", monospace; */
 }
 .amt{
  font-weight: 700;
 }
 .hood-p{
  margin-left: 1rem;
  align-items: center;
 }
 #hood-btn{
  border: none;
  margin-top: 1rem;
  background: rgb(187, 46, 159);
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 30px;
 }