#col-1{
    display: flex;
    justify-content: center;
    
}
#col-2, #col-21{
    display: flex;
    justify-content: center;
    
}
#row-2{
    margin-top: -5rem;
}
#row-3 h3{
    margin: 0;
    font-weight: 700;
   
}
#col-btn{
    height: 2rem;
    width: 7rem;
    background: rgba(46, 187, 119, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 6rem;
}
#col-btn:hover{
    background: rgb(3, 182, 95);
}
#row-3 p,#row-3 h3{
    display: flex;
    justify-content: center;
}

#col-14{
    display: flex;
    justify-content: center;
}
#col-4, #col-42{
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}
.stats{
    margin: 5rem 10rem;
    display: flex;
    justify-content: space-between;
}
.stats-details h3{
    color:  rgba(46, 187, 119, 1);
    font-weight: 600;
}
.stats-details p{
    margin: 0;
    font-size: 14px;
}
.mobile-container{
    display: none;
}


/* Mobile view */

@media (max-width: 768px) {
   
    .mobile-container{
        display: block;
    }
    .stats {
        flex-direction: column; 
        margin: 2rem; 
    }

    .stats div {
        margin-bottom: 2rem; 
    }

    .stats-details h3 {
        text-align: center; 
    }

    .stats-details p {
        text-align: center; 
    }

    .container{
        display: none;
    }

    #col-btn {
        margin-left: auto; 
        margin-right: auto; 
    }
    .client-txt{
        text-align: center;
    }
    .client-1{
        display: flex;
        justify-content: space-between;
        
    }
   

  
}
